<!-- Header -->
<header id="header">
    <div class="inner">
        <nav id="nav">
            <a [routerLink]="['/','yavadevs']">Home</a>
            <a [routerLink]="['/','yavadevs','aboutUs']">About us </a>
            <a [routerLink]="['/','yavadevs','shopInfo']">Shop Info </a>
            <a [routerLink]="['/','login']">Iniciar sesión</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<!-- Banner -->
<section id="banner">
    <h1>Shop Info</h1>
    <p>Descubre como funciona la aplicación</p>
</section>

<!-- Main -->
<section id="main" class="wrapper noWhite">
    <div class="inner">
        <header class="align-center">
            <h2>Nuestra aplicación</h2>
            <p> Descubre sus funcionalidades y agiliza tu compra </p>
        </header>

        <!-- Content -->

        <!-- En este usar ID(?) para acortar width de texto y poner foto aumentar height del div -->
        <div>
            <h3 class="textWidth">Como usar nuestra aplicación</h3>
            <div id="centerWrap"> 
                <p class="textWidth">Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac adipiscing
                    nibh porttitor erat risus justo adipiscing adipiscing amet placerat accumsan. Vis. Faucibus odio magna
                    tempus adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit adipiscing adipiscing arcu
                    metus praesent turpis eu ac lacinia nunc ac commodo gravida adipiscing eget accumsan ac nunc adipiscing
                    adipiscing. Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
                    faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a
                    lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio
                    massa ac ac. Semper adipiscing varius montes viverra nibh in adipiscing blandit tempus accumsan.Nunc 
                    lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
                    faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a
                    lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio
                    massa ac ac. Semper adipiscing varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>   
                    <div class="boxImages">
                        <img src="../../../../assets/images/logInApp.png" alt="Person 2" />
                    </div>
            </div>
            <h3 class="textWidth toTheRight">Como usar nuestra aplicación</h3>
            <div id="centerWrap"> 
                <div class="boxImagesLeft">
                    <img src="../../../../assets/images/logInApp.png" alt="Person 2" />
                </div>
                <p class="textWidth">Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac adipiscing
                    nibh porttitor erat risus justo adipiscing adipiscing amet placerat accumsan. Vis. Faucibus odio magna
                    tempus adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit adipiscing adipiscing arcu
                    metus praesent turpis eu ac lacinia nunc ac commodo gravida adipiscing eget accumsan ac nunc adipiscing
                    adipiscing. Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
                    faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a
                    lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio
                    massa ac ac. Semper adipiscing varius montes viverra nibh in adipiscing blandit tempus accumsan.Nunc 
                    lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
                    faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a
                    lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio
                    massa ac ac. Semper adipiscing varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>   
                    
            </div>
        </div>
        
        <div class="row">
            <div class="6u 12u$(small)">
                <h3>Sem turpis amet semper</h3>
                <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
                    faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a
                    lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio
                    massa ac ac. Semper adipiscing varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
            </div>
            <div class="6u$ 12u$(small)">
                <h3>Magna odio tempus commodo</h3>
                <p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer
                    lobortis commodo ornare aliquet accumsan erat tempus amet porttitor. Ante commodo blandit adipiscing
                    integer semper orci eget. Faucibus commodo adipiscing mi eu nullam accumsan morbi arcu ornare odio
                    mi adipiscing nascetur lacus ac interdum morbi accumsan vis mi accumsan ac praesent.</p>
            </div>
            <div class="6u$ 12u$(small)">
                <h3>Interdum sapien gravida</h3>
                <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
                    faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan
                    varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
            </div>
        </div>
    </div>
</section>
<!--Footer-->
<footer id="footer">
    <div class="inner">
        <div class="flex">
            <div class="copyright">
                &copy; 2021 Yavadevs.com
            </div>
            <ul class="icons">
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
            </ul>
        </div>
    </div>
</footer>