<!-- Header -->
<header id="header">
    <div class="inner">
        <nav id="nav">
            <a [routerLink]="['/','yavadevs']">Home</a>
            <a [routerLink]="['/','yavadevs','aboutUs']">About us </a>
            <a [routerLink]="['/','yavadevs','shopInfo']">Shop Info </a>
            <a [routerLink]="['/','login']">Iniciar sesión</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<!-- Banner -->
<section id="banner">
    <h1>Shop Info</h1>
    <p>Descubre como funciona la aplicación</p>
</section>

<!-- Main -->
<section id="main" class="wrapper noWhite">
    <div class="inner">
        <header class="align-center">
            <h2>Nuestra aplicación</h2>
            <p> Descubre sus funcionalidades y agiliza tu compra </p>
        </header>

        <!-- Content -->

        <!-- En este usar ID(?) para acortar width de texto y poner foto aumentar height del div -->
        <div>
            <h3 class="textWidth">Como usar nuestra aplicación</h3>
            <div id="centerWrap"> 
                <p class="textWidth">Logeate en nuestra aplicación para poder agregar productos a tu carrito y poder comprar desde
                    nuestra Web, dentro de la app tendrás varias funciones disponibles. 
                    Puedes acceder con el correo que usaste para entrar a la aplicación. 
                    De aquí en adelante podrás ver el correo con el que has hecho login, arriba a la izquierda. 
                    Para mas información consulta nuestro manual de usuario.
                </p>   
                    <div class="boxImages">
                        <img src="../../../../assets/images/logInApp.png" alt="Person 2" />
                    </div>
            </div>
            <h3 class="textWidth toTheRight">Escanea codigos en nuestra Tienda!</h3>
            <div id="centerWrap"> 
                <div class="boxImagesLeft">
                    <img src="../../../../assets/images/scanner.jpg" alt="Person 2" />
                </div>
                <p class="textWidth">Dentro de nuestra tienda podrás escanear productos para agregarlos, nuestra aplicación te ofrece
                    esta función, una vez escaneado verás qué producto es, y podras decidir si agregarlo o no, y modificar la cantidad 
                    que deseas.
                    Los únicos códigos que harán funcionar la aplicación son los que estarán en nuestra tienda física, no se deben escanear 
                    QRs fuera de esta. En caso de escanear códigos QRs erróneos se mostrará un mensaje conforme no es válido.
                </p>   
                    
            </div>
        </div>
        
    </div>
</section>
<!--Footer-->
<footer id="footer">
    <div class="inner">
        <div class="flex">
            <div class="copyright">
                &copy; 2021 Yavadevs.com
            </div>
            <ul class="icons">
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
            </ul>
        </div>
    </div>
</footer>