<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">

        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>

    </div>
</div>

<aside>
    <!----------------------------FiltroTipoProducto---------------------------------->
    <!-------------------------------------------------------------------------------->
    <div class="card">
        <header class="card-header bg-dark">
            <h5 class="title white text-center">Categorias</h5>
        </header>
        <div class="card-body tipoProductos animated fadeIn fast">
            <p (click)=onTipoProductoChange(tipo.nombre,i) *ngFor="let tipo of tipoProductos;let i=index"
                [ngClass]="toggleTipoProducto[i]? 'negrita':''" class="cursor">
                {{tipo.nombre}} ({{cantidadTipoProductos[i]}})
            </p>
        </div>
    </div>
    <!----------------------------EndFiltroTipoProducto---------------------------------->
    <!-------------------------------------------------------------------------------->

    <!----------------------------------------------------------------------------->
    <!----------------------------FiltroPrecio--------------------------------------->
    <div class="card">
        <header class="card-header bg-dark">
            <h5 (click)="cargarProductos(true)" class="cursor title white text-center">Precio
                <i [ngClass]="toggleFiltroProducto? 'filtroSeleccionado' : ''" class="fa fa-caret-up fa-lg"
                    aria-hidden="true"></i>
                <i [ngClass]="toggleFiltroProducto? '' : 'filtroSeleccionado'" class="fa fa-caret-down fa-lg"
                    aria-hidden="true"></i>
            </h5>
        </header>
        <div class="card-body tipoProductos animated fadeIn fast">
            <div class="checkbox checkbox-primary pull-left p-t-0">
                <div *ngFor="let filtroPrecio of filtrosPrecio">
                    <div (click)="onPrecioChange(filtroPrecio.value)">
                        <input type="radio" value="{{filtroPrecio.value}}" class="filled-in chk-col-light-blue"
                            [checked]="filtroPrecio.checked">
                        <label>{{filtroPrecio.name}}</label>
                    </div>
                </div>
            </div>
        </div>
        <!----------------------------EndFiltroPrecio--------------------------------------->
        <!-------------------------------------------------------------------------------->
    </div>
</aside>
<div class="text-center padding-bottom" *ngIf="noExisteProductosMostrados()">
    <i class="fa fa-cubes cajas" aria-hidden="true"></i>
    <h3 class="margin">No hay productos con las caraterísticas seleccionadas </h3>
</div>
<!----------------------------Productos--------------------------------------->
<!-------------------------------------------------------------------------------->
<section>
    <div class="row animated fadeIn fast">
        <div class="col-md-3" *ngFor="let producto of productosMostrados">
            <div class="card">
                <div class="card-body animated fadeIn ">
                    <a (click)=setId(producto._id) [routerLink]="['producto',producto._id]">
                        <img class="img-producto" [src]="producto.img | imagen:'productos'">
                    </a>
                    <h3 class="negrita">{{producto.nombre}}</h3>
                    <h3 class="precio-producto "> {{producto.precio}} &euro;</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!----------------------------EndProductos--------------------------------------->
<!-------------------------------------------------------------------------------->