.prueba{
    background-color: red;
}
.prueba2{
    background-color: yellow;
}
aside{
    float: left;
}

.filtroSeleccionado{
    color: #BD79E8;
}
.title{
    font-size: 20px;
}


.cajas{
    font-size: 300px;
    margin-right: 200px;
    color: rgb(199, 121, 58);
}
.margin{
    margin-right: 170px;
}

