.filtroSeleccionado{
    color: #7FE449;
}
.padre {
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin:0px;
  }
  
  .hijo {
    width: 500px;
  }

  .icon{
    font-size: 200px;
}
