.carrito{
    font-size: 200px;
}
.padre {
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin:0px;
  }
  
  .hijo {
    width: 420px;
  }
  .margin-precioTotal{
    margin-left: 5%;
    margin-top: 2%;
  }

  .img-width{
    width:50px;
  }

  .padding-bottom{
    padding-bottom: 50px;
}