.tarjeta-credito-perfil{
    width: 200px;
    height: 120px;
}
.logo-text{
    width: 150px;
}
.logo{
    width: 60px;
    height: 60px;
}
.fast{
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

#themecolors .selector, .cursor {
    cursor: pointer;
}


#google-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.img-avatar {
    height: 200px;
    width: 200px;
}

.w75 {
    width: 75px;
}

.w100 {
    width: 100px;
}

.w140 {
    width: 140px;
}

.w200 {
    width: 200px;
}
.w500{
    width: 500px;
}

.avatar {
    width: 30px;
    border-radius: 40%;
}

.img-producto{
    width: 300px;
    height: 300px;
}
.precio-producto{
    color:red;
    font-weight: bold;
}
.oculto {
    display: none;
}

.fondo-modal-imagen {
    background-color: rgba(0, 0, 0, 0.4);
    left: 0px;
    height: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
}
.negrita{
    font-weight: bold;
}
.negritaPotente{
    font-weight: bold;
    color: black;
}

.title-tipoProducto{
    margin-top: 5%;
    margin-left: 5%;
}
.tipoProductos{
    margin-left: 3%;
}

.btn-volver{
    margin-left: 5%;
    width: 20%;
  }
  .btn-continuar{
    margin-left: 45%;
    width: 20%;
  }
  .white{
      color: white;
  }

.img-width{
    width:50px;
}
