<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<!-- <section id="wrapper" class="error-page">
    <div class="error-box">
        <div class="error-body text-center">
            <h1>404</h1>
            <h3 class="text-uppercase">Pagina no encontrada</h3>
            <p class="text-muted m-t-30 m-b-30">Este url no pertenece a nuestro dominio</p>
            <a href="index.html" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Volver al
                dashboard</a>
        </div>
        <footer class="footer text-center">© {{ year }} Yavadevs.</footer>
    </div>
</section> -->
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<div class="bg-purple">
    <div class="stars">
        <div class="custom-navbar">
            <div class="brand-logo">
                <img src="../../assets/images/logo-light-text.png" width="200px">
            </div>
        </div>
        <div class="central-body">
            <img class="image-404" src="http://salehriaz.com/404Page/img/404.svg" width="300px">
            <a  href="index.html" class="btn-go-home" target="_blank">Volver al dashboard</a>
        </div>
        <div class="objects">
            <img class="object_rocket" src="http://salehriaz.com/404Page/img/rocket.svg" width="40px">
            <div class="earth-moon">
                <img class="object_earth" src="http://salehriaz.com/404Page/img/earth.svg" width="100px">
                <img class="object_moon" src="http://salehriaz.com/404Page/img/moon.svg" width="80px">
            </div>
            <div class="box_astronaut">
                <img class="object_astronaut" src="http://salehriaz.com/404Page/img/astronaut.svg" width="140px">
            </div>
        </div>
        <div class="glowing_stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>

        </div>

    </div>
</div>
<footer class="footer text-center">© {{ year }} Yavadevs.</footer>
