<div class="fondo-modal-imagen animated fadeIn fast superPoner" (mouseenter)="ngOnInit()"
    [class.oculto]="modalActualizarPasswordService.ocultarModal">

    <div class="modal fade show " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        style="display: block;">

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title negritaPotente" id="exampleModalLabel1">Cambiar contraseña</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal form-material" autocomplete="off" [formGroup]="changePasswordForm"
                        id="changePasswordForm">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="negrita" for="antiguaPassword">Contraseña antigua</label>
                                <input class="form-control" type="password" id="antiguaPassword"
                                    formControlName="antiguaPassword" placeholder="Introduce la contraseña...">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <label class="negrita" for="nuevaPassword">Contraseña nueva</label>
                                <input class="form-control" type="password" id="nuevaPassword"
                                    formControlName="nuevaPassword" placeholder="Introduce la contraseña... ">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-danger">
                                <p *ngIf="campoNoValido('antiguaPassword')">* La contraseña actual es obligatorio</p>
                                <p *ngIf="campoNoValido('nuevaPassword')">* La contraseña nueva es obligatoria</p>
                            </div>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal" (click)="actualizarPassword()">
                            Aceptar
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cerrarModal()">
                            Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>