<div class="fondo-modal-imagen animated fadeIn fast superPoner" (mouseenter)="ngOnInit()"
    [class.oculto]="modalTarjetaCreditoService.ocultarModal">

    <div class="modal fade show " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        style="display: block;">

        <div class="modal-dialog modal-lg" role="document">
            <div *ngIf="existeTarjetaCredito" class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title negritaPotente" id="exampleModalLabel1">Tarjeta de crédito</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h6 id="substitulo" class="modal-title negrita">Haz click para ver más</h6>
                    <div (click)="cambiarVisibilidadTarjeta()" class="cursor">
                        <p *ngIf="!mostrarTarjeta"> {{ tarjetaCredito.numero | ocultarNumero}}
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </p>

                        <p *ngIf="mostrarTarjeta"> {{ tarjetaCredito.numero}}
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </p>
                    </div>
                    <div *ngIf="mostrarTarjeta">
                        <p><b class="negrita">Tipo: </b> {{tarjetaCredito.tipo}}</p>
                        <p><b class="negrita">Titular: </b> {{tarjetaCredito.titular}}</p>
                        <p>
                            <b class="negrita">Fecha de caducidad: </b> {{tarjetaCredito.fechaCaducidad.getDate()
                            |fecha:true}}/{{tarjetaCredito.fechaCaducidad.getFullYear() | fecha:false}}
                        </p>
                        <p><b class="negrita">CVV: </b> {{tarjetaCredito.cvv}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cerrarModal()">
                            Cancelar
                        </button>
                        <button class="btn btn-primary" data-dismiss="modal" routerLink="../perfil/tarjetaCredito">
                            Cambiar tarjeta de crédito
                        </button>

                        <button type="button" class="btn btn-info" data-dismiss="modal" (click)="hacerPedido()">
                            Pagar
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-content" *ngIf="!existeTarjetaCredito">
                <div class="modal-header">
                    <h4 class="modal-title negritaPotente" id="exampleModalLabel1">No hay tarjeta de credito </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Vaya parece que aun no has añadido la tarjeta de credito. Si desea seguir comprando mediante
                        tajeta, haga click en "Añadir tarjeta"</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cerrarModal()">
                        Cancelar
                    </button>
                    <button class="btn btn-primary" data-dismiss="modal" routerLink="../perfil/tarjetaCredito">
                        Añadir tarjeta
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>