<div class="container">
    <p class="textCenter"><b><i>Se aplicará una comisión de envío del 20% a las compras inferiores a los 20€</i></b></p>
    <div class="row">
        <div class="col">
            <div class="weather-card one">
                <div class="top">
                    <div class="wrapper">
                        <h1 class="heading">Tarjeta de crédito</h1>
                        <h3 class="location">Sin comisión </h3>
                        <p class="temp">
                            <span *ngIf="hayCosteDeEnvio()" class="temp-value">{{(precioEnvio() + precio) | roundTwoDecimals}}</span>
                            <span *ngIf="!hayCosteDeEnvio()" class="temp-value">{{precio | roundTwoDecimals}}</span>
                            <a><span class="temp-type">&euro;</span></a>
                        </p>
                    </div>
                </div>
                <div class="bottom">
                    <div class="wrapper">
                        <ul class="forecast">
                            <li class="active">
                                <button class="btn btn-dark btn-block btn-rounded" (click)="abrirModal()">Confirmar
                                    forma
                                    de pago</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="weather-card rain">
                <div class="top">
                    <div class="wrapper">
                        <h1 class="heading">Contrarrembolso</h1>
                        <h3 class="location">Comisión de 3%</h3>
                        <p class="temp">
                            <span *ngIf="hayCosteDeEnvio()" class="temp-value">
                                {{(precioEnvio()+precioContrarrembolso()+precio) | roundTwoDecimals}}
                            </span>
                            <span *ngIf="!hayCosteDeEnvio()" class="temp-value">
                                {{(precioContrarrembolso()+precio) | roundTwoDecimals}}
                            </span>
                            <a><span class="temp-type">&euro;</span></a>
                        </p>
                    </div>
                </div>
                <div class="bottom">
                    <div class="wrapper">
                        <ul class="forecast">
                            <li class="active">
                                <button class="btn btn-dark btn-block btn-rounded"
                                    (click)="alertConfirmarContrarrembolso()">Confirmar
                                    forma de pago</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <button routerLink="../confirmarEnvio" class="btn btn-info btn-volver">
            <i class="fa fa-caret-left" aria-hidden="true"></i>
            Volver</button>
    </div>
</div>
<app-modal-tarjeta-credito></app-modal-tarjeta-credito>