<div class="row">
    <div class="col-6">
        <app-dona [labels]="productos" [data]="dataProductoCantidad " title="Ventas de producto por cantidad  ">
        </app-dona>
    </div>

    <div class="col-6">
        <app-dona [labels]="productos" [data]="dataProductoPrecio " title="Ventas de producto por precio &euro;">
        </app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona title="Cambios"></app-dona>
    </div>

    <div class="col-6">
        <app-dona title="Compras 2"></app-dona>
    </div>
</div>