<div class="row">
    <div class="col-6 fadeIn fast">
        <app-dona [labels]="productos" [data]="dataProductoCantidad " title="Ventas de producto por cantidad  ">
        </app-dona>
    </div>

    <div class="col-6 fadeIn fast">
        <app-dona [labels]="productos" [data]="dataProductoPrecio " title="Ventas de producto por precio &euro;">
        </app-dona>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <app-dona [labels]="tipoProductos" [data]="dataTipoProductoCantidad " title="Ventas categorias por cantidad">
        </app-dona>
    </div>

    <div class="col-6">
        <app-dona [labels]="tipoProductos" [data]="dataTipoProductoPrecio " title="Ventas categorias por precio &euro;">
        </app-dona>
    </div>
</div>