<div class="contenedor">
    <!-- Tarjeta -->
    <section class="tarjeta" id="tarjeta">
        <div class="delantera">
            <div class="logo-marca" id="logo-marca">
                <img *ngIf="esVisa" src='../../../assets/images/tarjeta-credito/logos/{{tipos[0]}}.png' alt="visa">
                <img *ngIf="!esVisa" src='../../../assets/images/tarjeta-credito/logos/{{tipos[1]}}.png' alt="visa">
            </div>
            <img src="../../../assets/images/tarjeta-credito/chip-tarjeta.png" class="chip" alt="">
            <div class="datos">
                <div class="grupo" id="numero">
                    <p class="label">Número Tarjeta</p>
                    <p class="numero">#### #### #### ####</p>
                </div>
                <div class="flexbox">
                    <div class="grupo" id="nombre">
                        <p class="label">Nombre Tarjeta</p>
                        <p class="nombre">Jhon Doe</p>
                    </div>

                    <div class="grupo" id="expiracion">
                        <p class="label">Expiracion</p>
                        <p class="expiracion"><span class="mes">MM</span> / <span class="year">AA</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <form class="form" autocomplete="off" [formGroup]="tarjetaCreditoForm" id="tarjetaCreditoForm"
                    (submit)="guardarTarjetaCredito()">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label class="negrita" for="tipo">Tipo<b class="text-danger"> *</b>
                            </label>
                                <select (change)="onChangeTipo()" class="form-control" formControlName="tipo">
                                    <option value="">Seleccione una tipo</option>
                                    <option [value]="tipo" *ngFor="let tipo of tipos">
                                        {{tipo}}
                                    </option>
                                </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="negrita" for="titular">Titular<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="text" id="titular" formControlName="titular"
                                placeholder="Introduce el titular">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="negrita" for="numero">Número<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="text" id="numero" maxlength="16" eformControlName="numero"
                                placeholder="Introduce el numero">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="negrita" for=" fechaCaducidad">Fecha de caducidad<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="date" id=" fechaCaducidad"
                                formControlName=" fechaCaducidad" placeholder="Introduce la  fechaCaducidad">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="negrita" for="cvv">CVV<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="text" id="cvv" maxlength="3" formControlName="cvv"
                                placeholder="Introduce el cvv">
                        </div>
                        <div class="col text-danger">

                        </div>
                    </div>
                    <br>
                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-6">
                            <button type="submit" [disabled]="tarjetaCreditoForm.invalid"
                                class="btn btn-success waves-effect waves-light" id="btnCategoria">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>