<div class="contenedor">
    <!-- Tarjeta -->
    <section class="tarjeta" id="tarjeta" (click)="girarTarjeta()">
        <div [className]="isTarjetaGirada? 'tarjeta.active' : 'delantera'">
            <div class="logo-marca" id="logo-marca">
                <img src="../../../assets/images/tarjeta-credito/logos/visa.png" alt="">
            </div>
            <img src="../../../assets/images/tarjeta-credito/chip-tarjeta.png" class="chip" alt="">
            <div class="datos">
                <div class="grupo" id="numero">
                    <p class="label">Número Tarjeta</p>
                    <p class="numero">#### #### #### ####</p>
                </div>
                <div class="flexbox">
                    <div class="grupo" id="nombre">
                        <p class="label">Nombre Tarjeta</p>
                        <p class="nombre">Jhon Doe</p>
                    </div>

                    <div class="grupo" id="expiracion">
                        <p class="label">Expiracion</p>
                        <p class="expiracion"><span class="mes">MM</span> / <span class="year">AA</span></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="trasera">
            <div class="barra-magnetica"></div>
            <div class="datos">
                <div class="grupo" id="firma">
                    <p class="label">Firma</p>
                    <div class="firma">
                        <p></p>
                    </div>
                </div>
                <div class="grupo" id="ccv">
                    <p class="label">CCV</p>
                    <p class="ccv"></p>
                </div>
            </div>
            <p class="leyenda">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus exercitationem,
                voluptates illo.</p>
            <a href="#" class="link-banco">www.tubanco.com</a>
        </div>
    </section>

    <!-- Contenedor Boton Abrir Formulario -->
    <div class="contenedor-btn">
        <button
            [className]="isFormActivado? 'btn-abrir-formulario.active' : ' btn-abrir-formulario.active && btn-abrir-formulario' "
            id="btn-abrir-formulario" (click)="abrirForm()">
            <i class="fas fa-plus"></i>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <form class="form" autocomplete="off" [formGroup]="tarjetaCreditoForm" id="tarjetaCreditoForm"
                    (submit)="guardarTarjetaCredito()">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="negrita" for="tipo">Nombre del destinatario<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="text" id="tipo" formControlName="tipo"
                                placeholder="Introduce el tipo">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="negrita" for="titular">Calle<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="text" id="titular" formControlName="titular"
                                placeholder="Introduce el titular">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="negrita" for="numero">Nº Calle/Portal<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="text" id="numero" formControlName="numero"
                                placeholder="Introduce el numero">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="negrita" for=" fechaCaducidad">Código postal<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="text" id=" fechaCaducidad"
                                formControlName=" fechaCaducidad" placeholder="Introduce la  fechaCaducidad">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="negrita" for="cvv">Localidad<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="text" id="cvv" formControlName="cvv"
                                placeholder="Introduce el cvv">
                        </div>
                        <div class="col text-danger">

                        </div>
                    </div>
                    <br>
                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-6">
                            <button type="submit" [disabled]="tarjetaCreditoForm.invalid"
                                class="btn btn-success waves-effect waves-light" id="btnCategoria">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>