<!-- Header -->
<header id="header">
    <div class="inner">
        <nav id="nav">
            <a [routerLink]="['/','yavadevs']">Home</a>
            <a [routerLink]="['/','yavadevs','aboutUs']">About us </a>
            <a [routerLink]="['/','yavadevs','shopInfo']">Shop Info </a>
            <a [routerLink]="['/','login']">Iniciar sesión</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<!-- Banner -->
<section id="banner">
    <h1>About us</h1>
    <p>Descubre quiénes somos</p>
</section>

<!-- Main -->
<section id="main" class="wrapper noWhite">
    <div class="inner">
        <header class="align-center">
            <h2 class="defaultText">Yavadevs</h2>
            <p> ¿Por que nosotros?</p>
        </header>

        <!-- Content -->
        <h2 id="content" class="defaultText">Nuestro objetivo</h2>
        <p><b>Nuestro principal objetivo como empresa és el de mejorar la calidad de las tiendas con nuestro modelo, un 
            innovador aunque simple metodo de escoger tus productos en una tienda presencial para que toda persona que no
            quiera comprar online pueda asistir personalmente a ver el producto.</b></p>
        <div class="row">
            <div class="6u 12u$(small)">
                <h3>Nos preocupamos por vuestra seguridad</h3>
                <p><b>Por todo los problemas que nos ha traído el COVID-19, y las adaptaciones que tenemos que sufrir como 
                    ciudadanos, hemos creado una tienda la cual permita comprar cosas sin tener que tocarlas. 
                    És una tienda física a la vez que online, en la tienda física las compras se realizan mediante códigos QR.
                </b></p>
            </div>
            <div class="6u$ 12u$(small)">
                <h3>Ayudemos al medioambiente</h3>
                <p><b>Como empresa tenemos el objetivo de reducir en la medida de lo posible los residuos que generaremos,
                    los envios que se realizen a corta distancia de nuestros almacenes, se harán con vehiculos electricos.
                    Todos los paquetes que enviaremos serán de materiales biodegradables y minimizaremos el uso de plástico
                    consiguiendo así, un mundo mejor para todos
                </b></p>
            </div>
            <div class="6u$ 12u$(small)">
                <h3>Nuestra Visión</h3>
                <p><b>Como hemos mencionado anteriormente creemos en un modelo futurista de la compra del dia a dia, pensamos
                    que de esta manera estas pequeñas acciones diarias se nos harán mas simples, de ese modo podremos
                    aplicar ese tiempo en lo que realmente nos importa. No solo eso, acercamos la tecnología a la gente que
                    mas la necesita, así ayudandolos con sus pequeñas dificultades, a las que se enfrentan a diario.
                </b></p>
            </div>
        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style1 special">
    <div class="inner">
        <header>
            <h2>El equipo</h2>
            <p>Conoce a los desarrolladores</p>
        </header>
        <div class="flex flex-4">
            <div class="box person">
                <div class="image round quitarBlue">
                    <img src="../../../../assets/images/equipo/picCristian.png" alt="Person 1" />
                </div>
                <h3>Cristian Ramirez</h3>
                <p>Cipdum dolor</p>
            </div>
            <div class="box person">
                <div class="image round quitarBlue">
                    <img src="../../../../assets/images/equipo/picGrau.jpg" alt="Person 2" />
                </div>
                <h3>Sergi Grau</h3>
                <p>Vestibulum comm</p>
            </div>
            <div class="box person">
                <div class="image round quitarBlue">
                    <img src="../../../../assets/images/equipo/picAlmope.png" alt="Person 3" />
                </div>
                <h3>Albert Montesinos-</h3>
                <p>Fusce pellentes</p>
            </div>
        </div>
    </div>
</section>
<!--Footer-->
<footer id="footer">
    <div class="inner">
        <div class="flex">
            <div class="copyright">
                &copy; 2021 Yavadevs.com
            </div>
            <ul class="icons">
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
            </ul>
        </div>
    </div>
</footer>