<!-- Header -->
<header id="header">
    <div class="inner">
        <nav id="nav">
            <a [routerLink]="['/','yavadevs']">Home</a>
            <a [routerLink]="['/','login']">Iniciar sesión</a>
            <a [routerLink]="['/','yavadevs','aboutUs']">Abouts us </a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<!-- Banner -->
<section id="banner">
    <h1>Abouts us</h1>
    <p>Descubre quiénes somos</p>
</section>

<!-- Main -->
<section id="main" class="wrapper">
    <div class="inner">
        <header class="align-center">
            <h2>Elements</h2>
            <p>Aliquam erat volutpat nam dui </p>
        </header>

        <!-- Content -->
        <h2 id="content">Sample Content</h2>
        <p>Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac adipiscing
            nibh porttitor erat risus justo adipiscing adipiscing amet placerat accumsan. Vis. Faucibus odio magna
            tempus adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit adipiscing adipiscing arcu
            metus praesent turpis eu ac lacinia nunc ac commodo gravida adipiscing eget accumsan ac nunc adipiscing
            adipiscing.</p>
        <div class="row">
            <div class="6u 12u$(small)">
                <h3>Sem turpis amet semper</h3>
                <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
                    faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a
                    lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio
                    massa ac ac. Semper adipiscing varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
            </div>
            <div class="6u$ 12u$(small)">
                <h3>Magna odio tempus commodo</h3>
                <p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer
                    lobortis commodo ornare aliquet accumsan erat tempus amet porttitor. Ante commodo blandit adipiscing
                    integer semper orci eget. Faucibus commodo adipiscing mi eu nullam accumsan morbi arcu ornare odio
                    mi adipiscing nascetur lacus ac interdum morbi accumsan vis mi accumsan ac praesent.</p>
            </div>
            <!-- Break -->
            <div class="4u 12u$(medium)">
                <h3>Interdum sapien gravida</h3>
                <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
                    faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan
                    varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
            </div>
            <div class="4u 12u$(medium)">
                <h3>Faucibus consequat lorem</h3>
                <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
                    faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan
                    varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
            </div>
            <div class="4u$ 12u$(medium)">
                <h3>Accumsan montes viverra</h3>
                <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non
                    faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan
                    varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
            </div>
        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style1 special">
    <div class="inner">
        <header>
            <h2>Ipsum Feugiat</h2>
            <p>Semper suscipit posuere apede</p>
        </header>
        <div class="flex flex-4">
            <div class="box person">
                <div class="image round">
                    <img src="../../../../assets/images/equipo/pic03.jpg" alt="Person 1" />
                </div>
                <h3>Magna</h3>
                <p>Cipdum dolor</p>
            </div>
            <div class="box person">
                <div class="image round">
                    <img src="../../../../assets/images/equipo/pic04.jpg" alt="Person 2" />
                </div>
                <h3>Ipsum</h3>
                <p>Vestibulum comm</p>
            </div>
            <div class="box person">
                <div class="image round">
                    <img src="../../../../assets/images/equipo/pic05.jpg" alt="Person 3" />
                </div>
                <h3>Tempus</h3>
                <p>Fusce pellentes</p>
            </div>
            <div class="box person">
                <div class="image round">
                    <img src="../../../../assets/images/equipo/pic06.jpg" alt="Person 4" />
                </div>
                <h3>Dolore</h3>
                <p>Praesent placer</p>
            </div>
        </div>
    </div>
</section>
<!--Footer-->
<footer id="footer">
    <div class="inner">
        <div class="flex">
            <div class="copyright">
                &copy; 2021 Yavadevs.com
            </div>
            <ul class="icons">
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
            </ul>
        </div>
    </div>
</footer>