<!-- Header -->
<header id="header">
    <div class="inner">
        <nav id="nav">
            <a [routerLink]="['/','yavadevs']">Home</a>
            <a [routerLink]="['/','yavadevs','aboutUs']">About us </a>
            <a [routerLink]="['/','yavadevs','shopInfo']">Shop Info </a>
            <a [routerLink]="['/','login']">Iniciar sesión</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<!-- Banner -->
<section id="banner">
    <h1>Yavadevs</h1>
    <p>Haciendo Software Inteligentemente</p>
</section>

<!-- One -->
<section id="one" class="wrapper noWhite">
    <div class="inner">
        <div class="flex flex-3">
            <article>
                <header>
                <h3>¿Quien somos?<br /> ¡Conocenos!</h3>
                </header>
                <p><b>Somos una pequeña empresa que acaba de entrar en el sector, traemos grandes ideas para mejorar
                    la calidad de nuestros servicios.</b></p>
                          
                <footer>
                    <a routerLink="/yavadevs/aboutUs" class="text-primary m-l-5"><b>Leer mas...</b></a>
                </footer>
            </article>
            <article>
                <header>
                    <h3>Compra online<br /> ¡Hecha un vistazo!</h3>
                </header>
                <p><b>Puedes hacer tus compras en esta web donde verás todos los productos a tu disposición, añadelos 
                    a tu lista y haz tu pedido!.</b></p>
                <footer>
                    <a routerLink="/login" class="text-primary m-l-5"><b>Entra en nuestra tienda!</b></a>
                </footer>
            </article>
            <article>
                <header>
                    <h3>¡Visitanos!<br /> Ven a nuestra ShowRoom</h3>
                </header>
                <p><b>En nuestra tienda puedes ver y probar nuestros productos, pero tus compras se siguen tramitando online,
                    de esta manera te olvidarás de cargar cualquier producto!</b></p>
                <footer>
                    <a routerLink="/yavadevs/shopInfo" class="text-primary m-l-5"><b>Aprende sobre nuestra app!</b></a>
                </footer>
            </article>
        </div>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper style1 special">
    <div class="inner">
        <header>
            <h2>Nuestros primeros clientes</h2>
            <p>Tomamos todo el feedback posible</p>
        </header>
        <div class="flex flex-4">
            <div class="box person">
                <div class="image round quitarBlue">
                    <img src="../../../../assets/images/equipo/picCristian.png" alt="Person 1" />
                </div>
                <h3>Cristian</h3>
                <p>Autocompra Humilde</p>
            </div>
            <div class="box person">
                <div class="image round quitarBlue">
                    <img src="../../../../assets/images/equipo/picXavi.png" alt="Person 2" />
                </div>
                <h3>Xavier Garcia</h3>
                <p>Primer usuario de la app movil</p>
            </div>
            <div class="box person">
                <div class="image round quitarBlue">
                    <img src="../../../../assets/images/equipo/picAlex.png" alt="Person 3" />
                </div>
                <h3>Alex Ruiz</h3>
                <p>Tester de la versión Beta</p>
            </div>
            <div class="box person">
                <div class="image round quitarBlue">
                    <img src="../../../../assets/images/equipo/picFernando.jpg" alt="Person 4" />
                </div>
                <h3>Fernando</h3>
                <p>Asistente Técnico</p>
            </div>
        </div>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper special noWhite">
    <div class="inner">
        <header class="align-center">
            <h2>Nuestras Interfaces</h2>
            <p>Elige la que se adapte mejor a tus necesidades</p>
        </header>
        <div class="flex flex-2">
            <article>
                <div class="image fit">
                    <img src="../../../../assets/images/gallery/webEmpresarial.jpg" alt="Pic 01" />
                </div>
                <header>
                    <h3>¡Hecha un vistazo a nuestra web!</h3>
                </header>
                <p><b>En la pagina principal de la web podrás ver todos los productos disponibles, 
                    filtra para obtener resultados mas precisos y encontrar el producto que deseas.
                    Una vez tengas claro el pedido, ¡ dirigete al carrito para finalizar tu compra !
                </b></p>
                <footer>
                </footer>
            </article>
            <article>
                <div class="image fit">
                    <img src="../../../../assets/images/gallery/tiendaEmpresarial.jpg" alt="Pic 02" />
                </div>
                <header>
                    <h3>¿Quieres ver el producto antes de comprar?</h3>
                </header>
                <p><b>Acercate a nuestra tienda, desde allí podrás usar la aplicación móvil para llenar 
                    tu cesta y hacer tu pedido desde la web. </b></p>
                <a routerLink="/yavadevs/shopInfo" class="text-primary m-l-5"><b>Aprende sobre nuestra app!</b></a>
            </article>
        </div>
    </div>
</section>
<footer id="footer">
    <div class="inner">
        <div class="flex">
            <div class="copyright">
                &copy; 2021 Yavadevs.com
            </div>
            <ul class="icons">
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
                <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
                <li><a href="#" class="icon fa-vimeo"><span class="label">Vimeo</span></a></li>
            </ul>
        </div>
    </div>
</footer>