<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h3>
            <i class="fa fa-truck red" aria-hidden="true"></i>
            ¿Donde deberiamos de hacer la entrega?
        </h3>
        <div class="no-saltos-de-linea">
            <p>Por favor, elije la dirección donde desee que llegue su pedido.Una vez hecho esto, haga click en
                <b class="negrita text-danger">Siguiente paso</b> para continuar.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <form class="form" autocomplete="off" [formGroup]="direccionForm" id="direccionForm">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="negrita" for="nombre">Nombre del destinatario<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="text" id="nombre" formControlName="nombre"
                                placeholder="Toni Manresa">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="negrita" for="calle">Calle<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="text" id="calle" formControlName="calle"
                                placeholder="c/ Beethoven ">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="negrita" for="numeroCalle">Nº Calle/Portal<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="text" id="numeroCalle" formControlName="numeroCalle"
                                placeholder="5 2a 2a">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="negrita" for="cp">Código postal<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="text" id="cp" formControlName="cp" placeholder="08924">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="negrita" for="localidad">Localidad<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="text" id="localidad" formControlName="localidad"
                                placeholder="Barcelona">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="negrita" for="telefono">Teléfono<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="tel" id="telefono" formControlName="telefono"
                                placeholder="000000000">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="negrita" for="datosAdicionales">Datos adicionales</label>
                            <textarea class="form-control" type="text" id="datosAdicionales"
                                formControlName="datosAdicionales" placeholder="Información adicional...">
                            </textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <button routerLink="../perfil/carrito" class="btn btn-info btn-volver">
        Volver <i class="fa fa-caret-left" aria-hidden="true"></i>
    </button>
    <button routerLink="../../envío" class="btn btn-danger btn-continuar">
        Siguiente paso <i class="fa fa-caret-right" aria-hidden="true"></i>
    </button>
</div>