<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card">
            <div class="card-body">
                <form class="form" autocomplete="off" [formGroup]="direccionForm" id="direccionForm"
                    (submit)="guardarDireccion()">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label class="negrita" for="nombre">Nombre del destinatario<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="text" id="nombre" formControlName="nombre"
                                placeholder="Introduce el nombre">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="negrita" for="calle">Calle<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="text" id="calle" formControlName="calle"
                                placeholder="Introduce la calle">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="negrita" for="numeroCalle">Nº Calle/Portal<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="text" id="numeroCalle" formControlName="numeroCalle"
                                placeholder="Introduce el numero de la calle y el portal">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="negrita" for="cp">Código postal<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="text" id="cp" formControlName="cp" minlength="5"
                                maxlength="5" placeholder="Introduce el codigo postal">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="negrita" for="localidad">Localidad<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="text" id="localidad" formControlName="localidad"
                                placeholder="Introduce la localidad">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="negrita" for="telefono">Teléfono<b class="text-danger"> *</b>
                            </label>
                            <input class="form-control" type="tel" id="telefono" formControlName="telefono"
                                minlength="9" maxlength="9" placeholder="Introduce el telefono">
                        </div>
                        <div class="form-group col-md-12">
                            <label class="negrita" for="datosAdicionales">Datos adicionales</label>
                            <textarea class="form-control" type="text" id="datosAdicionales"
                                formControlName="datosAdicionales" placeholder="Información adicional...">
                            </textarea>
                        </div>
                        <div class="col text-danger">
                            <p *ngIf="codigoPostalNoValido()">*El codigo postal no es válido</p>
                            <p *ngIf="telefonoNoValido()">*El telefono no es válido</p>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row m-b-0">
                        <div class="offset-sm-3 col-sm-6">
                            <button type="submit" [disabled]="direccionForm.invalid"
                                class="btn btn-success waves-effect waves-light" id="btnCategoria">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>