<div class="fondo-modal-imagen animated fadeIn fast" (mouseenter)="onInitModal()"
    [class.oculto]="modalService.ocultarModal">

    <div class="modal fade show " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        style="display: block;">

        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title negritaPotente" id="exampleModalLabel1">Carrito de la compra</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <h3 class="negrita">Pedido: {{pedido._id}}</h3>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <th>Productos</th>
                                <th class="text-center">Precio (&euro;)</th>
                                <th class="text-center"> Cantidad</th>
                                <th class="text-center">Subtotal (&euro;)</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let lineaPedido of lineaPedidos">
                                    <td>
                                        <img [src]="lineaPedido.producto.img | imagen:'productos'"
                                            [alt]="lineaPedido.producto.nombre" class="avatar">
                                        {{lineaPedido.producto.nombre}}
                                    </td>

                                    <td class="text-center">
                                        {{lineaPedido.producto.precio | roundTwoDecimals }}
                                    </td>
                                    <td class="text-center">{{lineaPedido.cantidad}}</td>
                                    <td class="text-center">{{(lineaPedido.producto.precio * lineaPedido.cantidad ) |
                                        roundTwoDecimals}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="text-center comision-text">
                        <b><i>
                                Se aplicará una comisión de envío del 20% a las compras inferiores a los 20€
                            </i></b>
                    </p>

                    <div class="modal-footer">
                        <div class="left">
                            <p class="negrita">Precio total: {{pedido.precio | roundTwoDecimals}} &euro;</p>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cerrarModal()">
                            Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>